body {
	background-color: #fff;
}

.todo-container {
	margin: 10% auto;
	padding: 0 30%;
}

@media (max-width: 768px) {
	.todo-container {
		padding: 0 5%;
	}
}

#add-todo {
	background-color: #663dff;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.todo-item {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.checkbox {
	margin-right: 10px;
}

.todo-text {
	flex-grow: 1;
}

.delete-todo {
	background-color: #ff6347;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.delete-todo:hover {
	background-color: #ff473d;
}

#modalOpen,
#modalClose {
	margin-top: 10px;
	cursor: pointer;
}

#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}

#modalContent {
	position: absolute;
	background-color: #ffffff;
	width: 300px;
	height: 150px;
	padding: 15px;
}

#modalContainer.hidden {
	display: none;
}
