body {
	background-color: #000;
}

.todo-container {
	margin: 10% auto;
	padding: 0 30%;
}

@media (max-width: 768px) {
	.todo-container {
		padding: 0 5%;
	}
}

.todo-creator {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	padding: 5px 10px;
}

#new-todo-input {
	flex-grow: 2;
}

#add-todo {
	background-color: #663dff;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.todo-item {
	background-color: #fff;
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	gap: 5px;
}

.todo-text {
	flex-grow: 1;
}

.edit-todo {
	background-color: #9ade7b;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.edit-todo:hover {
	background-color: #88d663;
}

.delete-todo {
	background-color: #ff6347;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.delete-todo:hover {
	background-color: #ff473d;
}

#modal-open,
#modal-close {
	margin-top: 10px;
	cursor: pointer;
}

#modal-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	filter: blur();
}

#modal-content {
	position: absolute;
	background-color: #ffffff;
	width: 300px;
	height: 150px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#edit-todo-input {
	outline: none;
	font-size: 16px;
	display: block;
	margin-bottom: 10px;
}

#modal-btn-container button {
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

#save-todo {
	background-color: #9ade7b;
}

#save-todo:hover {
	background-color: #88d663;
}

#cancel-edit {
	background-color: #ff6347;
}

#cancel-edit:hover {
	background-color: #ff473d;
}

#modal-container.hidden {
	display: none;
}
