@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
	background-color: #000;
}

h1 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 5rem;
	text-align: center;
	background-image: linear-gradient(
		45deg,
		hsl(277deg 99% 48%) 1%,
		hsl(306deg 100% 42%) 47%,
		hsl(324deg 83% 51%) 51%,
		hsl(344deg 78% 62%) 50%,
		hsl(324deg 70% 41%) 49%,
		hsl(298deg 100% 22%) 53%,
		hsl(240deg 100% 20%) 99%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	margin-top: 10%;
}

.todoAppContainer {
	margin: auto;
	padding: 0 30%;
}

@media (max-width: 1000px) {
	.todoAppContainer {
		padding: 0 10%;
	}

	h1 {
		font-size: 4rem;
	}
}
